Repository skkuse/2022fall_41class_team7, pull requests merged in 2022-11, with the labels that each got.

#6 Front/nav
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/service_logo.svg
  frontend/src/assets/images/setting.svg
  frontend/src/components/FailTag.js
  frontend/src/components/Nav.js
  frontend/src/components/PassTag.js
  frontend/src/components/Problem.js
  frontend/src/components/Testcase.js
  frontend/src/pages/App.js
  frontend/src/styles/style.css
  frontend/yarn.lock
Labels: frontend

#7 Back/execute grade api
  backend/api/admin.py
  backend/api/executor.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
  backend/server/settings/base.py
Labels: backend

#12 feat(backend): login, problem API
  backend/api/admin.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Labels: backend

#14 Back/classes API 강의 관련 api
  backend/api/-- SQLite.sql
  backend/api/models.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
  backend/server/settings/base.py
  backend/server/settings/local.py
  backend/server/urls.py
Labels: backend

#15 새션 기반 login logout 구현
  backend/api/admin.py
  backend/api/migrations/0002_user_groups_user_is_active_user_is_admin_and_more.py
  backend/api/migrations/0003_remove_user_is_superuser.py
  backend/api/migrations/0004_alter_user_student_id.py
  backend/api/models.py
  backend/api/urls.py
  backend/api/views.py
  backend/server/settings/base.py
Labels: backend

#13 Front/test page
  frontend/package.json
  frontend/src/components/CodeEditor.js
  frontend/src/pages/App.js
  frontend/src/styles/base.css
  frontend/src/styles/editor.css
  frontend/src/styles/style.css
  frontend/yarn.lock
Labels: frontend

#18 chore(common): 디자인 명세서 추가
  documents/Design Specification_Team7.docx
  documents/Design Specification_Team7.pdf
  documents/Requirement Specification_Team7.docx
  documents/Requirement Specification_Team7.pdf
Labels: common

#10 Front/home
  frontend/src/assets/images/logo.png
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/pages/Home.js
  frontend/src/styles/home.css
Labels: frontend

#20 예정되었던 1단계 API revise 및 구현
  backend/api/-- SQLite.sql
  backend/api/admin.py
  backend/api/common/__init__.py
  backend/api/common/executor.py
  backend/api/migrations/0001_initial.py
  backend/api/migrations/0002_storage_order.py
  backend/api/migrations/0002_user_groups_user_is_active_user_is_admin_and_more.py
  backend/api/migrations/0003_alter_storage_order.py
  backend/api/migrations/0003_remove_user_is_superuser.py
  backend/api/migrations/0004_alter_storage_unique_together.py
  backend/api/migrations/0004_alter_user_student_id.py
  backend/api/migrations/0005_alter_enrollment_unique_together.py
  backend/api/models.py
  backend/api/models/__init__.py
  backend/api/models/auth.py
  backend/api/models/enrollment.py
  backend/api/models/lecture.py
  backend/api/models/problem.py
  backend/api/models/storage.py
  backend/api/models/submission.py
  backend/api/serializers.py
  backend/api/serializers/__init__.py
  backend/api/serializers/auth_serializers.py
  backend/api/serializers/lecture_serializers.py
  backend/api/serializers/problem_serializers.py
  backend/api/serializers/storage_serializers.py
  backend/api/serializers/submission_serializers.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/api/views/__init__.py
  backend/api/views/auth_views.py
  backend/api/views/lecture_views.py
  backend/api/views/problem_views.py
  backend/api/views/submission_views.py
  backend/server/settings/base.py
  backend/server/settings/local.py
Labels: backend

#21 Back/storage api
  backend/api/common/__init__.py
  backend/api/common/file_interceptor.py
  backend/api/serializers/storage_serializers.py
  backend/api/urls.py
  backend/api/views/__init__.py
  backend/api/views/storage_views.py
  backend/api/views/submission_views.py
Labels: backend

#22 feat(frontend): 문제 섹션 스크롤, min-width
  frontend/src/components/CodeEditor.js
  frontend/src/pages/App.js
  frontend/src/styles/editor.css
  frontend/src/styles/style.css
Labels: frontend

#19 Butten color: hover css & scroll lock
  frontend/src/pages/App.js
  frontend/src/styles/hover.css
Labels: frontend

#24 Front/problem api
  frontend/src/components/Nav.js
  frontend/src/components/Problem.js
  frontend/src/pages/App.js
  frontend/src/styles/style.css
Labels: frontend

#23 feat(front): codeEditor 버튼 클릭시 toast 알림 생성
  frontend/src/components/CodeEditor.js
Labels: frontend

#25 Front/modal
  frontend/src/components/Terminial.js
  frontend/src/components/modals/RunCode.js
  frontend/src/components/modals/SelectLecture.js
  frontend/src/pages/Home.js
Labels: frontend

#26 feat(front):Logout modal 생성 및 로고 연결
  frontend/src/components/Nav.js
  frontend/src/components/modals/Logout.js
Labels: frontend

#28 fix(front): 로그인페이지 align, 에러문구 fix
  frontend/src/pages/Home.js
  frontend/src/styles/home.css
Labels: frontend

#29 chore(front): 마감기한 타이머 fix
  frontend/src/components/Nav.js
  frontend/src/styles/style.css
Labels: frontend

#30 feat(front): 테스트 화면 1단계 API 연결
  frontend/src/components/CodeEditor.js
  frontend/src/components/Nav.js
  frontend/src/components/Problem.js
  frontend/src/components/Terminial.js
  frontend/src/pages/App.js
  frontend/src/styles/editor.css
  frontend/src/styles/style.css
Labels: frontend

#31 feat(front): select lecture modal 에 강의목록(/lectures/) api 연결
  frontend/src/components/modals/SelectLecture.js
Labels: frontend

#32 fix(front): merge 하며 select lecture 관련 내용 누락된 것 복구
  frontend/src/pages/Home.js
Labels: frontend

#33 Front/routes
  frontend/package.json
  frontend/src/components/modals/SelectLecture.js
  frontend/src/index.js
Labels: frontend

#34 fix(front): getProblem 안되는 문제 수정
  frontend/src/components/Problem.js
  frontend/src/pages/App.js
Labels: frontend

#37 feat(front): logout API 연결
  frontend/package.json
  frontend/src/components/modals/Logout.js
  frontend/src/pages/App.js
  frontend/yarn.lock
Labels: frontend

#38 feat(front): lecture 불러오기 및 등록 API 연결
  frontend/src/components/modals/SelectLecture.js
  frontend/src/pages/Home.js
Labels: frontend

#39 refactor(front): app & selectLecture import axios 수정
  frontend/src/components/modals/SelectLecture.js
  frontend/src/pages/App.js
Labels: frontend

#41 fix(backend): lecture enroll 시 오류 해결 (백엔드 api조건문 수정)
  backend/api/views/lecture_views.py
Labels: backend

#44 chore(common): README 제목 수정
  README.md
Labels: common

#43 refactor(front): logout axios 수정
  frontend/src/components/modals/Logout.js
  frontend/src/components/modals/SelectLecture.js
Labels: frontend

#42 feat(frontend): navigate 기반 라우팅
  frontend/src/components/modals/SelectLecture.js
  frontend/src/pages/App.js
Labels: frontend

#45 feat(front): storages 저장, 불러오기 api
  backend/api/common/epoch_datetime_field.py
  backend/api/serializers/problem_serializers.py
  backend/api/views/lecture_views.py
  frontend/src/components/CodeEditor.js
  frontend/src/pages/App.js
Labels: frontend

#46 execute
  frontend/src/components/modals/RunCode.js
  frontend/src/styles/style.css
Labels: frontend

#47 모달 내 글씨 색상 변경+axios 중복코드 삭제
  frontend/package.json
  frontend/src/components/modals/RunCode.js
  frontend/src/styles/editor.css
  frontend/yarn.lock
Labels: frontend

#48 execute 수정
  frontend/package.json
  frontend/src/components/CodeEditor.js
  frontend/src/components/modals/RunCode.js
Labels: frontend

#49 Front/login qa
  frontend/src/components/modals/SelectLecture.js
  frontend/src/pages/App.js
  frontend/src/pages/Home.js
  frontend/src/styles/home.css
Labels: frontend

#51 Front/code editor
  frontend/src/components/CodeEditor.js
  frontend/src/components/Problem.js
Labels: frontend

#52 feat(front): grade api
  frontend/src/components/Terminial.js
  frontend/src/pages/App.js
Labels: frontend

#53 feat(front): validation 기능 추가
  frontend/src/components/Problem.js
  frontend/src/components/Testcase.js
  frontend/src/pages/App.js
Labels: frontend

#40 Front/login context
  frontend/src/index.js
  frontend/src/pages/App.js
  frontend/src/pages/Home.js
  frontend/src/utils/contextProvider.js
Labels: frontend

#57 Back/submissions api
  backend/api/common/__init__.py
  backend/api/common/executor.py
  backend/api/common/file_interceptor.py
  backend/api/common/tasks.py
  backend/api/migrations/0006_alter_submission_created_at.py
  backend/api/migrations/0007_alter_submission_state.py
  backend/api/migrations/0008_alter_submission_state.py
  backend/api/models/enrollment.py
  backend/api/models/lecture.py
  backend/api/models/problem.py
  backend/api/models/storage.py
  backend/api/models/submission.py
  backend/api/serializers/problem_serializers.py
  backend/api/serializers/submission_serializers.py
  backend/api/urls.py
  backend/api/views/problem_views.py
  backend/api/views/submission_views.py
  backend/env.yaml
  backend/server/__init__.py
  backend/server/celery.py
  backend/server/settings/base.py
Labels: backend

#56 fix(front): onClose propTypes error 해결 bool->func
  frontend/src/components/modals/Logout.js
  frontend/src/components/modals/RunCode.js
  frontend/src/components/modals/SelectLecture.js
Labels: frontend

#55 Front/login context
  frontend/src/components/modals/Logout.js
  frontend/src/pages/App.js
  frontend/src/utils/contextProvider.js
Labels: frontend
