Repository skkuse/2022fall_41class_team7, pull requests merged in 2022-10, with the labels that each got.

#1 Frontend setting eslint/prettier/chakraUI
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/assets/images/logo.svg
  frontend/src/index.js
  frontend/src/pages/App.js
  frontend/src/reportWebVitals.js
  frontend/yarn.lock
Labels: frontend

#2 백엔드 프로젝트 생성 및 세팅
  .github/workflows/ci.yml
  backend/.flake8
  backend/.gitignore
  backend/api/__init__.py
  backend/api/admin.py
  backend/api/apps.py
  backend/api/migrations/__init__.py
  backend/api/models.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views.py
  backend/env.yaml
  backend/manage.py
  backend/server/__init__.py
  backend/server/asgi.py
  backend/server/settings/__init__.py
  backend/server/settings/base.py
  backend/server/settings/local.py
  backend/server/settings/prod.py
  backend/server/urls.py
  backend/server/wsgi.py
Labels: backend

#4 chore(common): 요구사항 명세서 추가
  document/Requirement Specification_Team7.docx
  document/Requirement Specification_Team7.pdf
Labels: common

#3 feat(backend): db 세팅
  backend/api/admin.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Labels: backend
