Repository skkuse/2022fall_41class_team7, pull requests merged in 2022-12, with the labels that each got.

#58 testpage3,4
  frontend/src/components/Terminial.js
  frontend/src/components/modals/RunCode.js
Labels: frontend

#59 Front/qa
  frontend/src/components/CodeDiffWindow.js
  frontend/src/components/CodeEditor.js
  frontend/src/components/CodeEditorDiff.js
  frontend/src/components/FailTag.js
  frontend/src/components/PassTag.js
  frontend/src/components/Terminial.js
  frontend/src/components/Testcase.js
  frontend/src/pages/App.js
  frontend/src/styles/diffeditor.css
  frontend/src/styles/hover.css
Labels: frontend

#60 feat(backend): submission의 분석기능 구현
  backend/api/common/analysis.py
  backend/api/common/tasks.py
Labels: backend

#61 Front/code editor
  frontend/package.json
  frontend/src/components/CodeEditor.js
Labels: frontend

#62 fix(front): 터미널 오류 수정
  frontend/src/components/Terminial.js
Labels: frontend

#64 fix(backend): submission시 is_ended 동작 보완
  backend/api/views/submission_views.py
  frontend/yarn.lock
Labels: backend

#63 feat(backend): submission api - efficiency 채점 업데이트
  backend/api/common/analysis.py
  backend/api/common/tasks.py
Labels: backend

#66 fix(backend): grade_submission 오류 수정
  backend/api/common/tasks.py
Labels: backend

#65 Front/submit UI
  frontend/package.json
  frontend/src/components/CodeDiffWindow.js
  frontend/src/components/CodeEditor.js
  frontend/src/components/CodeEditorDiff.js
  frontend/src/components/Graph.js
  frontend/src/components/SubmitResult.js
  frontend/src/components/SubmitTab.js
  frontend/src/components/Terminial.js
  frontend/src/dummyFiles/DummySubmissions.json
  frontend/src/pages/App.js
  frontend/src/styles/diffeditor.css
  frontend/src/styles/style.css
  frontend/src/styles/submit.css
  frontend/yarn.lock
Labels: frontend

#68 Front/submit test
  frontend/src/components/CodeEditor.js
  frontend/src/components/Nav.js
  frontend/src/components/Terminial.js
  frontend/src/components/modals/EndTest.js
Labels: frontend

#69 feat(front): test 제출 시 submission api 연결
  frontend/src/components/Terminial.js
Labels: frontend

#70 chore(common): 최종 발표자료 추가
  documents/Final Presentation_Team7.pdf
  documents/Final Presentation_Team7.pptx
Labels: common

#71 Front/toast
  frontend/src/components/CodeEditor.js
  frontend/src/components/Graph.js
  frontend/src/components/Nav.js
  frontend/src/components/Terminial.js
  frontend/src/components/Testcase.js
  frontend/src/pages/Home.js
  frontend/src/utils/toastUtil.js
Labels: frontend

#73 feat(backend): submission grade api 최종
  backend/api/common/analysis.py
  backend/api/common/tasks.py
  backend/env.yaml
Labels: backend

#72 lecColor, timeline, br, scrollTop
  frontend/src/components/Terminial.js
  frontend/src/components/modals/RunCode.js
  frontend/src/components/modals/SelectLecture.js
  frontend/src/pages/App.js
  frontend/src/styles/style.css
Labels: frontend

#76 Back/refactor
  backend/api/common/analysis.py
  backend/api/common/executor.py
  backend/api/common/file_interceptor.py
  backend/api/common/tasks.py
  backend/api/views/submission_views.py
  backend/env.yaml
Labels: backend

#77 fix(front): 타이머 끝 -> 결과 화면
  frontend/src/components/Nav.js
Labels: frontend

#78 feat(front): 제출결과물 선택 가능
  frontend/.eslintrc.json
  frontend/src/components/SubmitResult.js
  frontend/src/components/SubmitTab.js
  frontend/src/pages/App.js
  frontend/src/pages/Home.js
  frontend/src/styles/submit.css
  frontend/src/utils/toast.js
Labels: frontend

#79 Front/linterror
  frontend/src/utils/toast.js
Labels: frontend
